---
import NavBar from "@components/shared/NavBar.astro";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import { siteInfo } from "src/globals/site-info";

interface Props {
  title?: string;
  image?: string;
  description?: string;
}
const {
  title = siteInfo.title,
  description = siteInfo.description,
  image,
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO -->
    <meta name="description" content={description} />
    <meta name="author" content="Raúl Morales" />

    <!-- OG Metatags -->
    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />
    <meta name="og:image" content={image} />

    <title>{title}</title>

    <ClientRouter />
    <!-- <style>
      @view-transition {
        navigation: auto; /* enabled! */
      }
    </style> -->
  </head>
  <body class="bg-slate-800 text-slate-100">
    <NavBar />
    <main class="mt-5 m-auto max-w-3xl px-2">
      <slot />
    </main>
  </body>
</html>
